<div class="hot-matches">
    <div class="team-left">
            <span class="title-right">Team 1</span>
            <img src="https://i.ibb.co/mRB6ybv/navy.png" />
    </div>
    <div class="place-bet">
        <span class="name-match">ESEA Advanced NA</span>
        <span class="date-match">07/04/2021</span>
        <button class="top-up">СДЕЛАТЬ СТАВКУ!</button>
        
    </div>
    <div class="team-right">
            <img src="https://i.ibb.co/N1rfFnx/fnatic.png" />
            <span class="title">Team 2</span>
    </div>
</div>

