
Web/.vs/Test/v16/.suo
*.v2
Web/obj/project.nuget.cache
Web/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
Web/obj/Debug/net5.0/Razor/Shared/SurveyPrompt.razor.g.cs
Web/obj/Debug/net5.0/Razor/Shared/NavMenu.razor.g.cs
Web/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
Web/obj/Debug/net5.0/Razor/Pages/PlusModal.razor.g.cs
Web/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
Web/obj/Debug/net5.0/Razor/Pages/HotMath.razor.g.cs
Web/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
Web/bin/Debug/net5.0/ref/Test.dll
Web/bin/Debug/net5.0/Test.dll
Web/bin/Debug/net5.0/Test.pdb
Web/bin/Debug/net5.0/Test.Views.dll
Web/bin/Debug/net5.0/Test.Views.pdb
Web/obj/Debug/net5.0/project.razor.json
Web/obj/Debug/net5.0/Razor/Pages/PlusModal.razor.g.cs
Web/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/PlusModal.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Test.dll
Web/obj/Debug/net5.0/RazorDeclaration/Test.pdb
Web/obj/Debug/net5.0/ref/Test.dll
Web/obj/Debug/net5.0/Test.csprojAssemblyReference.cache
Web/obj/Debug/net5.0/Test.csprojAssemblyReference.cache
Web/obj/Debug/net5.0/Test.genruntimeconfig.cache
Web/obj/Debug/net5.0/Test.dll
Web/obj/Debug/net5.0/Test.RazorComponent.input.cache
Web/obj/Debug/net5.0/Test.RazorCoreGenerate.cache
Web/obj/Debug/net5.0/Test.TagHelpers.output.cache
Web/obj/Debug/net5.0/Test.Views.dll
Web/obj/Debug/net5.0/Test.Views.pdb
Web/obj/project.assets.json
Web/obj/project.nuget.cache
Web/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/AtiveMatches.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/AuthenticationModal.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/HotMath.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/PlusModal.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/RegistrationNewUser.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
Web/obj/Debug/net5.0/Test.assets.cache
Web/obj/Debug/net5.0/Test.csprojAssemblyReference.cache
Web/obj/Debug/net5.0/Test.TagHelpers.output.cache
Web/bin/Debug/net5.0/ref/Test.dll
Web/bin/Debug/net5.0/Test.dll
Web/bin/Debug/net5.0/Test.pdb
Web/bin/Debug/net5.0/Test.Views.dll
Web/bin/Debug/net5.0/Test.Views.pdb
Web/obj/Debug/net5.0/Razor/Pages/_Host.cshtml.g.cs
Web/obj/Debug/net5.0/Razor/Pages/AtiveMatches.razor.g.cs
Web/obj/Debug/net5.0/Razor/Pages/AuthenticationModal.razor.g.cs
Web/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
Web/obj/Debug/net5.0/Razor/Pages/PlusModal.razor.g.cs
Web/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/AtiveMatches.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/AuthenticationModal.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/HotMath.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/PlusModal.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Pages/RegistrationNewUser.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
Web/obj/Debug/net5.0/RazorDeclaration/Test.dll
Web/obj/Debug/net5.0/RazorDeclaration/Test.pdb
Web/obj/Debug/net5.0/ref/Test.dll
Web/obj/Debug/net5.0/Test.assets.cache
Web/obj/Debug/net5.0/Test.csprojAssemblyReference.cache
Web/obj/Debug/net5.0/Test.dll
Web/obj/Debug/net5.0/Test.pdb
Web/obj/Debug/net5.0/Test.RazorComponent.input.cache
Web/obj/Debug/net5.0/Test.RazorCoreGenerate.cache
Web/obj/Debug/net5.0/Test.TagHelpers.output.cache
Web/obj/Debug/net5.0/Test.Views.dll
Web/obj/Debug/net5.0/Test.Views.pdb
