div.users-corner[b-7rkju61w1h] {
    background-color: #2a2f36;
    border-radius: 4px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    min-width: 340px;
    min-height: 600px;
    text-align: center;
    position: relative;
    color: whitesmoke;
    font-weight: 600;
}

    div.users-corner div.box[b-7rkju61w1h] {
        padding: 10px;
        padding-top: 18px;
    }

div.card-user[b-7rkju61w1h] {
    text-align: left;
    height: 150px;
}

    div.card-user div.title[b-7rkju61w1h] {
        padding-bottom: 20px;
        margin-left: 20px;
        text-align: left;
    }

    div.card-user div.back[b-7rkju61w1h] {
        position: relative;
        float: left;
        margin-left: 20px;
        height: 80px;
        width: 80px;
        border-radius: 40px;
        transition: .1s;
        z-index: 10;
        background: #1e1e1e;
        transition: .1s;
    }

        div.card-user div.back:hover[b-7rkju61w1h] {
            background-color: #6bab44;
            transition: .1s;
        }

        div.card-user div.back .icon-user[b-7rkju61w1h] {
            height: 80px;
            width: 80px;
            border-radius: 40px;
            border: 2px solid yellow;
            z-index: 1;
        }

        div.card-user div.back:hover .icon-user[b-7rkju61w1h] {
            opacity: 0.1;
            transition: .3s;
        }

        div.card-user div.back .title-img[b-7rkju61w1h] {
            visibility: hidden;
            position: absolute;
            font-size: 12px;
            top: 30px;
            left: 12px;
        }

        div.card-user div.back:hover .title-img[b-7rkju61w1h] {
            visibility: visible;
            opacity: 1;
        }

        div.card-user div.back img[b-7rkju61w1h] {
        }

    div.card-user div.info-for-user[b-7rkju61w1h] {
        margin-left: 8px;
        float: left;
    }

        div.card-user div.info-for-user .user-name[b-7rkju61w1h] {
            color: #6893a6;
        }

        div.card-user div.info-for-user .balance[b-7rkju61w1h] {
        }


div.user-capabilities[b-7rkju61w1h] {
    text-align: center;
}

    div.user-capabilities button.withdrawal[b-7rkju61w1h],
    button.top-up[b-7rkju61w1h] {
        border-radius: 2px;
        border: 0px;
        font-weight: 600;
        width: 120px;
        height: 28px;
        color: whitesmoke;
        transition: .1s;
        margin: 5px;
    }

    div.user-capabilities button.top-up[b-7rkju61w1h] {
        background-color: #6bab44;
        font-size: 15px;
    }

        div.user-capabilities button.top-up:hover[b-7rkju61w1h] {
            background-color: #6dbe3b;
            transition: .2s;
        }

    div.user-capabilities button.withdrawal[b-7rkju61w1h] {
        font-size: 14px;
        background-color: #343a45;
    }

        div.user-capabilities button.withdrawal:hover[b-7rkju61w1h] {
            background-color: #48505f;
            transition: .2s;
        }


div.history-bids[b-7rkju61w1h]{

}
    div.history-bids div.history-bids-title[b-7rkju61w1h] {
        margin-top:20px;
        float:left;
        margin-left:20px;
    }