
<div class="main-part">
    <table>
        <tr>
            <td>
                <div class="active-bet" style="margin: 0px;">
                    <Test.Pages.MainPart.ActiveMathes.ActiveMatches></Test.Pages.MainPart.ActiveMathes.ActiveMatches>
                </div>
            </td>
            <td class="side">
                <div class="user">
                    <Test.Pages.MainPart.UserSide.UserSide User="@User"></Test.Pages.MainPart.UserSide.UserSide>
                </div>
            </td>
        </tr>
    </table>
</div>


@code {
        [Parameter]
        public User User { get; set; }
}
