@using Test.Pages.MainPart.UserSide
@using Test.Pages.MainPart.ActiveMathes
<div class="main-part">
    <table>
        <tr>
            <td>
                <div class="active-bet" style="margin: 0px;">
                    <AtiveMatches></AtiveMatches>
                </div>
            </td>
            <td class="side">
                <div class="user">
                    <Test.Pages.MainPart.UserSide.UserSide></Test.Pages.MainPart.UserSide.UserSide>
                </div>
            </td>
        </tr>
    </table>
</div>


@code {

}
