div.main-main[b-vv8m6rf2se] {
    max-width: 1440px;
    margin: 0 auto;
}

div.main[b-vv8m6rf2se] {
    margin-top: 70px;
}

div.menu1[b-vv8m6rf2se] {
    height: 80px;
    width: 100%;
    background-color: #779ea4;
    border: 1px;
}

div.logo-and-type-game-and-technical-support[b-vv8m6rf2se] {
    margin-left: 0px;
    display: inline-block;
}

    div.logo-and-type-game-and-technical-support div[b-vv8m6rf2se] {
        display: inline-block;
    }

div.logo[b-vv8m6rf2se] {
}

div.technical-support[b-vv8m6rf2se] {
}

div.type-games[b-vv8m6rf2se] {
}

div.custom-features[b-vv8m6rf2se] {
    white-space: nowrap;
    float: right;
}

    div.custom-features div[b-vv8m6rf2se] {
        display: inline-block;
    }

div.log-in-log-up[b-vv8m6rf2se] {
}