div.active-matches[b-oq7gvcb4w8] {
}

    div.active-matches .active-matches-title[b-oq7gvcb4w8] {
        text-align: center;
    }

div.list-of-active-matches[b-oq7gvcb4w8] {
}

    div.list-of-active-matches ul[b-oq7gvcb4w8] {
    }

        div.list-of-active-matches ul li[b-oq7gvcb4w8] {
            display: inline-block;
            width: 49%;
            background-color: gray;
            white-space: nowrap;
            text-align: center;
        }

            div.list-of-active-matches ul li div[b-oq7gvcb4w8] {
                background-color: red;
                white-space: nowrap;
            }

div.matches-bet-info[b-oq7gvcb4w8] {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    margin: 0 auto;
}

div.team-right[b-oq7gvcb4w8],
div.team-left[b-oq7gvcb4w8] {
}

div.team-right[b-oq7gvcb4w8] {
    float: right;
}

div.team-left[b-oq7gvcb4w8] {
    float: left;
}
