div.hot-matches[b-wq3mdwacej] {
    margin: 0 auto;
    width: 85%;
    height: 10%;
    background: #779ea4;
    border-width: 1px;
    white-space: nowrap;
    text-align: center;
}

div.hot-matches-title[b-wq3mdwacej] {
    text-align: center;
}

    div.hot-matches-title p[b-wq3mdwacej] {
        padding-top: 10px;
    }

div.place-bet[b-wq3mdwacej] {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    margin: 0 auto;
}

    div.place-bet button[b-wq3mdwacej] {
        display: block;
        text-align: center;
    }

    div.place-bet span[b-wq3mdwacej] {
        padding: 0px;
        display: block;
        text-align: center;
    }

div.team-right[b-wq3mdwacej],
div.team-left[b-wq3mdwacej] {
}

div.team-right[b-wq3mdwacej] {
    float: right;
}

div.team-left[b-wq3mdwacej] {
    float: left;
}
