div.main-main[b-1i06yy398t] {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 70px;
}

div.main[b-1i06yy398t] {
}
    div.main div[b-1i06yy398t] {
        padding-left: 8px;
        padding-right: 8px;
    }

        div.main div.hot-matches[b-1i06yy398t] {
            padding-left: 20px;
            padding-right: 20px;
        }

        div.main div.main-part[b-1i06yy398t] {
            margin-top: 80px;
        }


div.menu1[b-1i06yy398t] {
    height: 80px;
    width: 100%;
    background-color: #3b4451;
    border: 1px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: whitesmoke;
    font-weight: 500;
}

div.logo-and-type-game-and-technical-support[b-1i06yy398t] {
    margin-left: 0px;
    display: inline-block;
}

    div.logo-and-type-game-and-technical-support div[b-1i06yy398t] {
        display: inline-block;
    }

div.logo[b-1i06yy398t] {
}

div.technical-support[b-1i06yy398t] {
}

div.type-games[b-1i06yy398t] {
}

div.custom-features[b-1i06yy398t] {
    white-space: nowrap;
    float: right;
}

    div.custom-features div[b-1i06yy398t] {
        display: inline-block;
    }

div.log-in-log-up[b-1i06yy398t] {
}