div.active-matches {
}

    div.active-matches .active-matches-title {
        text-align: center;
    }

div.list-of-active-matches {
}

    div.list-of-active-matches ul {
    }

        div.list-of-active-matches ul li {
            display: inline-block;
            width: 49%;
            background-color: #313d3d;
            white-space: nowrap;
            text-align: center;
        }

            div.list-of-active-matches ul li div {
                white-space: nowrap;
            }
            
div.matches-bet-info {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    margin: 0 auto;
}

div.team-right,
div.team-left {
    width: 100px;
    height: 1200px;
    text-align: center;
    background-color: #435555;
    border-radius: 6px;
    margin: 6px;
}

div.team-right {
    float: right;
}

div.team-left {
    float: left;
}

div.team {

}
    div.team img {
        padding-top: 5px;
        width: 90px;
        height: 90px;
        border-radius:3px;
    }
    div.team p.title{
        position: relative;
        padding-top: 5px;
        color: whitesmoke;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        font-size: 12px;
    }
    div.team .koef {
        margin: 0 auto;
    }
        div.team .koef p {
            position: relative;
            top: -10px;
            color: whitesmoke;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            font-size: 14px;
        }

        div.team .koef hr {
            position: relative;
            top: -24px;
            background-color:yellow;
        }