
<div class="active-matches">
    <div class="active-matches-title">
        <p>Эти матчи уже начались! Смотри матчи и ставь ставки!</p>
    </div>
    <div class="list-of-active-matches">
        <ul>
            <li>
                <div class="active-matches-bet">
                    <div class="team-left">
                        <div class="team">
                            <img>
                            <p class="title">Spirit</p>
                            <div class="koef">
                                <p>x 1.8</p>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="matches-bet-info">
                        <p>12:32</p>
                        <p>Успей поставить!</p>
                    </div>
                    <div class="team-right">
                        <div class="team">
                            <img>
                            <p>Spirit</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="active-matches-bet">
                    <div class="team-left">
                        <div class="team">
                            <img>
                            <p>Spirit</p>
                        </div>
                    </div>
                    <div class="matches-bet-info">
                        <p>12:32</p>
                        <p>Успей поставить!</p>
                    </div>
                    <div class="team-right">
                        <div class="team">
                            <img>
                            <p>Spirit</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="active-matches-bet">
                    <div class="team-left">
                        <div class="team">
                            <img>
                            <p>Spirit</p>
                        </div>
                    </div>
                    <div class="matches-bet-info">
                        <p>12:32</p>
                        <p>Успей поставить!</p>
                    </div>
                    <div class="team-right">
                        <div class="team">
                            <img>
                            <p>Spirit</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="active-matches-bet">
                    <div class="team-left">
                        <div class="team">
                            <img>
                            <p>Spirit</p>
                        </div>
                    </div>
                    <div class="matches-bet-info">
                        <p>12:32</p>
                        <p>Успей поставить!</p>
                    </div>
                    <div class="team-right">
                        <div class="team">
                            <img>
                            <p>Spirit</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
@code {

}
