@page "/Developers"

@namespace Test.Pages
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <base href="~/" />
    <link rel="stylesheet" type="text/css" href="~/css/DevelopersPage.css"/>
</head>
<body>

<canvas>
    

</canvas>

<script src="_framework/blazor.server.js"></script>
<script src="js/animation.js"></script>
</body>
</html>




