@page "/Developers"

@namespace Test.Pages
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <base href="~/" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" type="text/css" href="~/css/DevelopersPage.css" />
</head>
<body>
<canvas></canvas>
<div class="container" style="font-size: 20px; font-family: Montserrat, sans-serif;">
    <div class="row">
        <div class="col">
            <h1 class="text-center" style="margin: 30px;">О нас</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Стремлюсь стать крутым бэкендером.</p>
            <p>Любовь к разбиению всего на маленькие частицы ведут по этому пути.</p>
            <h4>Но</h4>
            <p>Любовь к играм не дает забыть мечту ворваться в геймдев.</p>
            <h4>Навыки</h4>
            <ul>
                <li>SQL 6/10 джунов</li>
                <li>C# 8/10 джунов</li>
                <li>Blazor 7/10 джунов</li>
                <li>LINQ 5/10 Entity</li>
                <li>HTML-CSS-JS 5/10 вебмастеров</li>
            </ul>
        </div>
        <div class="col-md-6">
            <p>Стремлюсь стать крутым бэкендером.</p>
            <p>Любовь к разбиению всего на маленькие частицы ведут по этому пути.</p>
            <h4>Но</h4>
            <p>Любовь к играм не дает забыть мечту ворваться в геймдев.</p>
            <h4>Навыки</h4>
            <ul>
                <li>SQL 6/10 джунов</li>
                <li>C# 8/10 джунов</li>
                <li>Blazor 7/10 джунов</li>
                <li>LINQ 5/10 Entity</li>
                <li>HTML-CSS-JS 5/10 вебмастеров</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center" style="margin: 30px;">Контакты</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>Telegram FO2XS</li>
                <li>Email&nbsp;gregher@zohomail.eu<br></li>
                <li>VK&nbsp;https://vk.com/fo2xs</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>Telegram FO2XS</li>
                <li>Email&nbsp;gregher@zohomail.eu<br></li>
                <li>VK&nbsp;https://vk.com/fo2xs</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center" style="margin: 30px;">Посмотрите наш код</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>Codewars https://www.codewars.com/users/FO2XS</li>
                <li>Github&nbsp;https://github.com/FO2XS</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>Codewars https://www.codewars.com/users/FO2XS</li>
                <li>Github&nbsp;https://github.com/FO2XS</li>
            </ul>
        </div>
    </div>
</div>



<script src="_framework/blazor.server.js"></script>
<script src="js/animation.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>




