@page "/FAQ"

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Часто задаваемые вопросы</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 10%;">
        <div class="col">
            <h1 class="text-center">Скоро будут :)</h1>
        </div>
    </div>
</div>


@code
{
    bool quest1, quest2, quest3, quest4, quest5;


    private void ShowAnswer(bool onOff)
    {
        onOff = !onOff;
    }
}
