@page "/footer"


<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Полезная информация</h3>
                <ul>
                    <li><a href="#">Лицензионное соглашение</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="\Support">Тех. поддержка</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>О нас</h3>
                <ul>
                    <li><a href="/DevelopersPage">Команда</a></li>
                    <li><a href="https://github.com/FO2XS/complex-task-apps">Проект</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>О сайте</h3>
                <p>Данный сайт является частью учебного проекта по созданию информационной системы букмекерской конторы.
                    Создатели сайта не предоставляют каких-либо коммерческих услуг. Все действия с использованием финансовых средств
                    не предполагают использования реальных денег.</p>
            </div>
        </div>
        <p class="copyright">YoungBet 2021</p>
    </div>
</footer>

@code {

}
