div.main-main {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 70px;
}

div.main {
}

div.main div {
    padding-left: 8px;
    padding-right: 8px;
}

div.main div.hot-matches {
    padding-left: 20px;
    padding-right: 20px;
}

div.main div.main-part {
    margin-top: 80px;
}


div.menu1 {
    height: 80px;
    width: 100%;
    background-color: #363D47;
    border: 1px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: whitesmoke;
    font-weight: 500;
}

div.logo-and-type-game-and-technical-support {
    margin-left: 0px;
    display: inline-block;
}

div.logo-and-type-game-and-technical-support div {
    display: inline-block;
}

div.logo {
}

div.technical-support {
}

div.type-games {
}

div.custom-features {
    white-space: nowrap;
    float: right;
}

div.custom-features div {
    display: inline-block;
}

div.log-in-log-up {
}

