div.main-main {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 70px;
}

div.main {
}

div.main div {
    padding-left: 8px;
    padding-right: 8px;
}

div.main div.hot-matches {
    padding-left: 20px;
    padding-right: 20px;
}

div.main div.main-part {
    margin-top: 80px;
}


div.menu1 {
    height: 80px;
    width: 100%;
    margin: 0;
    background-color: #3b4451;
    border: 1px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: whitesmoke;
    font-weight: 500;
    display: flex;
}

div.menu1 div.line {
    margin: 0 auto;
    width: 1240px;
}

div.grid {
    display: inline-flex;
    float: left;
}

div.grid div {
    float: left;
    margin-left: 10px;
    align-self: center;
    font-size: 18px;
    font-family: Roboto-Bold;
}

div.custom-features {
    white-space: nowrap;
    float: right;
    display: inline-flex;
}

div.custom-features div {
    display: flex;
    align-self: center;
}