<div class="hot-matches">
    <div class="team-left">
            <span class="title-right">Team 1</span>
            <img src="https://bumper-stickers.ru/49207-thickbox_default/dota-2-navi.jpg" />
    </div>
    <div class="place-bet">
        <span class="name-match">ESEA Advanced NA</span>
        <span class="date-match">07/04/2021</span>
        <button class="top-up">СДЕЛАТЬ СТАВКУ!</button>
        <!--
            <PlusModal></PlusModal>
        -->
    </div>
    <div class="team-right">
            <img src="https://bumper-stickers.ru/49207-thickbox_default/dota-2-navi.jpg" />
            <span class="title">Team 2</span>
    </div>
</div>

@{

}
