<div class="hot-matches">
    <div class="team-left">
        <span>Team 1</span><img>
    </div>
    <div class="place-bet">
        <span class="name-match">dawd</span>
        <span class="date-match">dawd</span>
    </div>
    <div class="team-right">
        <img><span>Team 2</span>
    </div>
</div>

@{

}
