@page "/"
@using Pages.MainPart
@using Pages.PopUpWindows

@inherits LayoutComponentBase
@inject IDialogService DialogService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject SignInManager<User> signInManager;
@inject NavigationManager manager;
@inject UserManager<User> UserManager;

<div class="menu1">
    <div style="margin: 0 auto; max-width: 1240px; ">
        <div class="logo-and-type-game-and-technical-support">
            <div class="logo">
                Лого
            </div>
            <div class="">
                <select>
                    <option selected>
                        CS:GO
                    </option>
                    <option>
                        LoL
                    </option>
                </select>
            </div>
            <div class="technical-support">
                Тех. поддержка

            </div>
        </div>

        <div class="custom-features">
            <div>FAQ</div>
            <div>
                <MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Success">
                    Войти
                </MudButton>
                @if (loginUser is not null)
                {
                    <div>
                        @loginUser.Id
                        <br />
                        @loginUser.Email
                    </div>
                }


                <br />
                <MudButton Variant="Variant.Filled" Color="Color.Success">
                    <NavLink style="text-decoration:none; color: white;" href="bla">
                        Регистрация
                    </NavLink>
                </MudButton>


            </div>
        </div>
    </div>
</div>
<div class="main-main">
    <div class="main">
        <div class="hot-matches">
            <HotMath></HotMath>
        </div>
        <div class="main-part">
            <Test.Pages.MainPart.MainPart></Test.Pages.MainPart.MainPart>
        </div>
    </div>
</div>



@code{
    User loginUser;
    private async void OpenDialog()
    {
        DialogService.Show<LoginUser>("Simple Dialog");
        loginUser = await localStorage.GetItemAsync<User>("userInfo");

    }


}