@page "/"
@inherits LayoutComponentBase

@using Pages.MainPart;

<div class="menu1">
	<div style="margin: 0 auto; max-width: 1240px; ">
		<div class="logo-and-type-game-and-technical-support">
			<div class="logo">
				Лого
			</div>
			<div class="">
				<select>
					<option selected>
						CS:GO
					</option>
					<option>
						LoL
					</option>
				</select>
			</div>
            <div class="technical-support">
                Тех. поддержка
                
            </div>
		</div>

		<div class="custom-features">
			<div>FAQ</div>
			<div>
				<Test.Pages.AuthenticationModal></Test.Pages.AuthenticationModal>
                <br />
                <button class="btn btn-success">
                    <NavLink style="text-decoration:none; color: white;" href="bla">
                        Reg
                    </NavLink>
                </button>
			</div>
		</div>
	</div>
</div>
<NavLink class="nav-link" href="test"> ТЕСТИМ
</NavLink>
<div class="main-main">
	<div class="main">
		<div class="hot-matches">
			<HotMath></HotMath>
		</div>
		<div class="main-part">
			<Test.Pages.MainPart.MainPart></Test.Pages.MainPart.MainPart>
		</div>
	</div>
</div>



@code{

}