@page "/"
@layout MainLayout
@inherits LayoutComponentBase


<div class="main-main">
    <div class="main">
        <div class="hot-matches">
            <Test.Pages.MainPart.Matches.HotMath></Test.Pages.MainPart.Matches.HotMath>
        </div>
        <div class="main-part">
            <Test.Pages.MainPart.MainPart></Test.Pages.MainPart.MainPart>
        </div>
    </div>
</div>




@code{
    [CascadingParameter]
    public User LoginUser { get; set; }
}