@page "/LicenseAgreement"

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center">
            <h1 class="text-center">Мы бы написали лицензионное соглашение, но не знаем как. Если вы разбираетесь в данной проблеме, напишите на&nbsp;<br>gregher@zohomail.eu<br><br></h1>
        </div>
    </div>
</div>


