@page "/registration"

@using Test.Data
@using Test.Data.Modal



<div class="vh-100" style="background: url('/image/BackImage2.png'); background-size: cover; color: whitesmoke;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1><p class="text-center">YoungBet</p></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>
          <p class="text-center">Регистрация</p>
        </h4>
      </div>
    </div>

    <div class="row">

      <div class="col-4"></div>

      <div class="col-4">
        <div class="container">

          <div class="row">
            <div class="col">
              Электронная почта
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="email" class="form-control" placeholder="Например@mail.ru">
              <br>
            </div>
          </div>

          <div class="row">
            <div class="col">
              Пароль
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="password" class="form-control" placeholder="qwerty123">
              <br>
            </div>
          </div>

          <div class="row">
            <div class="col">
              Повторите пароль
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="password" class="form-control" placeholder="qwerty123">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-dark">Далее</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="container">
          <div class="row">
            <div class="col">
              
            </div>
          </div>
        </div>
      </div>

    </div>




  </div>
</div>




@code{

}