@page "/registation"

@layout MainLayout

@inject NavigationManager _manager
@inject UserManager<User> _userManager
@inject IDialogService _dialogService
@inject ISnackbar _snackBar



<div class="vh-100" style="color: white">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="font-family: Roboto-Black"><p class="text-center">YoungBet</p></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>
                    <p class="text-center">Регистрация</p>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            Электронная почта
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input @bind-value="_email" type="email" class="form-control" placeholder="Например@mail.ru">
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            Пароль
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input @bind-value="_password" type="password" class="form-control" placeholder="qwerty123">
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            Повторите пароль
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input @bind-value="_verifyPassword" type="password" class="form-control" placeholder="qwerty123">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-dark" @onclick="(() => CreateUser())">Далее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="container">
                    <div class="row">
                        <div class="col">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

