@page "/Support"

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="d-xl-flex justify-content-xl-center">Техническая поддержка</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <select>
                <option value="12" selected="">This is item 1</option>
                <option value="13">This is item 2</option>
                <option value="14">This is item 3</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" placeholder="Email" inputmode="email">
        </div>
        <div class="col" style="text-align: end;">
            <MudButton Variant="Variant.Filled" Color="Color.Success">
                Отправить
            </MudButton>
        </div>
    </div>
</div>
