div.container {

    min-height: 620px;
    max-width: 1219px;
    margin-top: 5%;
    background-color: transparent;
}
h1 {
    color: white;
}
textarea {
    width: 100%;
    min-height: 200px;
    color: white;
    background-color: #494d54;
    border-color: black;
}
input {
    height: 100%;
}
