@page "/Support"

@inject ISnackbar _snackBar

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="d-xl-flex justify-content-xl-center">Техническая поддержка</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Тема обращения</label>
            <select @onchange="ChangeTopic">
                <option value="0" selected>Технические неполадки</option>
                <option value="1">Проблема с вводом/выводом средств</option>
                <option value="2">Другое</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea @bind="text" placeholder="Опишите вашу проблему"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input @bind-value="email" type="text" placeholder="Email" inputmode="email">
        </div>
        <div class="col" style="text-align: end;">
            <MudButton OnClick="SendReport" Variant="Variant.Filled" Color="Color.Success">
                Отправить
            </MudButton>
        </div>
    </div>
</div>
