@page "/changeEmail"



<div style="margin: auto;">
    <h2 class="text-center">Смена почты</h2>
    <label class="form-label d-flex justify-content-xxl-center" style="margin-top: 3%;">Введите текущую почту</label>
    <input type="password" class="form-control-lg d-block mx-auto" />
    <label class="form-label d-flex justify-content-xxl-center" style="margin-top: 1%;">Введите новую почту</label>
    <input type="password" class="form-control-lg d-block mx-auto" />
    <label class="form-label d-flex justify-content-xxl-center" style="margin-top: 1%;">Повторите новую почту</label>
    <input type="password" class="form-control-lg d-block mx-auto" />
    <button class="btn d-flex mx-auto" type="button" style="margin-top: 1%;">Сменить</button>
</div>