@page "/changePassword"


<div style="margin: auto;">
    <h2 class="text-center">Смена пароля</h2>
    <label class="form-label d-flex justify-content-xxl-center" style="margin-top: 3%;">Введите текущий пароль</label>
    <input type="password" class="form-control-lg d-block mx-auto" />
    <label class="form-label d-flex justify-content-xxl-center" style="margin-top: 1%;">Введите новый пароль</label>
    <input type="password" class="form-control-lg d-block mx-auto" />
    <label class="form-label d-flex justify-content-xxl-center" style="margin-top: 1%;">Повторите новый пароль</label>
    <input type="password" class="form-control-lg d-block mx-auto" />
    <button class="btn btn-primary d-flex mx-auto" type="button" style="margin-top: 1%;">Сменить</button>
</div>