
<div class="users-corner">
	<div class="box">
        <div class="card-user">
            <div class="title">
                <span>ВАШ ПРОФИЛЬ</span>
            </div>
            <div class="back">
                <span class="title-img">ПРОФИЛЬ</span>
                <img class="icon-user" src="https://sun9-32.userapi.com/impg/VPwq74YaL_kpjIyjEmpCmINCBR2oAi2d_rtCXg/qz6qG2UFMa8.jpg?size=933x1080&quality=96&sign=b35f69cf132c7dde117b0123dc729b96&type=album" />
            </div>
            <div class="info-for-user">
                <div class="user-name">
                    <span>Nikolla</span>
                </div>
                <div class="balance">
                    <span>
                        Ваш баланс:<br> 22 813.37$
                    </span>
                </div>
            </div>
        </div>

        <div class="user-capabilities">
            <button class="top-up">ПОПОЛНИТЬ!</button>
			<button class="withdrawal">ВЫВЕСТИ</button>
        </div>

		<div class="history-bids">
            <div class="history-bids-title">
                <span>
                    ВАШИ СТАВКИ
                </span>
            </div>
		</div>
	</div>
</div>

@code {

}
