<link rel=stylesheet type="text/css" href="~/css/site.css">


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="menu">
        <div class="logo-and-type-game">
            <div class="logo">
                <NavLink href="" Match="NavLinkMatch.All">
                </NavLink>
            </div>
            <div class="type-game">
                <select>
                    <option selected>
                        <NavLink href="" Match="NavLinkMatch.All">
                            CS:GO
                        </NavLink>
                    </option>
                    <option>
                        <NavLink href="" Match="NavLinkMatch.All">
                            LoL
                        </NavLink>
                    </option>
                </select>
            </div>
        </div>
        <div class="technical-support">
            Тех. поддержка
        </div>

        <div class="custom-features">
            <div class="FAQ">FAQ</div>
            <div class="Log-in-log-up">
                <BSButton Class="user-button" IsOutline="true" Color="Color.Dark">log in</BSButton>
                <BSButton Class="user-button" IsOutline="true" Color="Color.Dark">log up</BSButton>
            </div>
        </div>
        <div>
            <BSDropdown IsGroup="true" IsOpen="@IsOpen">
                <BSDropdownToggle Color="Color.Secondary" OnClick="onclick" IsOpen="@IsOpen">Dropdown</BSDropdownToggle>
                <BSDropdownMenu IsOpen="@IsOpen">
                    <BSDropdownItem href="#">Dropdown link</BSDropdownItem>
                    <BSDropdownItem href="#">Dropdown link</BSDropdownItem>
                </BSDropdownMenu>
            </BSDropdown>
        </div>
    </div>

    <div class="hot-matches">
        <p>Горячие матчи</p>
    </div>

    <BSNavbar IsExpand="true" IsDark="false" Color="Color.Light">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Лого сайта
        </NavLink>
        <NavLink class="nav-link">
            <select>
                <option selected>CS:GO</option>
                <option>LoL</option>
            </select>
        </NavLink>
        <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Counter
        </NavLink>
        <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
    </BSNavbar>
</div>

@code {
    private bool collapseNavMenu = true;
    public string str { get; set; }
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    bool IsOpen { get; set; }
    void onclick(MouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }
}
