@font-face {
    font-family: "Montserrat-Black";
    src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}

@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf");
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}



@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: "Roboto-BlackItalic";
    src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}