@page "/takeFunds"
<div style="margin: auto;">
    <h2 class="text-center">Вывод средств</h2>
    <label class="form-label d-flex justify-content-xxl-center" style="margin-top: 3%;">Сумма</label>
    <input type="number" class="d-flex mx-auto form-control-lg" />
    <label class="form-label d-flex justify-content-xxl-center" style="margin-top: 1%;">Номер карты</label>
    <input type="number" class="d-flex mx-auto form-control-lg" min="1000000000000000" max="9999999999999999" />
    <button class="btn btn-primary d-flex mx-auto" type="button" style="margin-top: 1%;">Вывести</button>
</div>