div.main-main {
    max-width: 1440px;
    margin: 0 auto;
}

div.main {
    margin-top: 70px;
}

div.menu1 {
    height: 80px;
    width: 100%;
    background-color: #779ea4;
    border: 1px;
}

div.logo-and-type-game-and-technical-support {
    margin-left: 0px;
    display: inline-block;
}

    div.logo-and-type-game-and-technical-support div {
        display: inline-block;
    }

div.logo {
}

div.technical-support {
}

div.type-games {
}

div.custom-features {
    white-space: nowrap;
    float: right;
}

    div.custom-features div {
        display: inline-block;
    }

div.log-in-log-up {
}

div.hot-matches {
    margin: 0 auto;
    width: 85%;
    height: 10%;
    background: #779ea4;
    border-width: 1px;
    white-space: nowrap;
    text-align: center;
}

div.hot-matches-title {
    text-align: center;
}

    div.hot-matches-title p {
        padding-top: 10px;
    }

div.place-bet {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    margin: 0 auto;
}

    div.place-bet button {
        display: block;
        text-align: center;
    }

    div.place-bet span {
        padding: 0px;
        display: block;
        text-align: center;
    }

div.team-right,
div.team-left {
}

div.team-right {
    float: right;
}

div.team-left {
    float: left;
}

div.active-matches {
    text-align: center;
}

div.list-of-active-matches {
}

    div.list-of-active-matches ul {
        text-align: left;
    }

        div.list-of-active-matches ul li {
            display: inline;
        }
