@inherits LayoutComponentBase
@using Test.Pages




<Header OnClickCallback="@AddLoginUser"></Header>


<CascadingValue Value="@loginUser">
    <div>@Body</div>
</CascadingValue>


<Footer></Footer>


@code
{
    public User loginUser { get; set; }

    private void AddLoginUser(User user)
    {
        loginUser = user;
    }
}
