@inherits LayoutComponentBase
@layout MainLayout
@inject NavigationManager _navigation
@inject WebService _webService
@inject IDialogService _dialogService

@if (User is null)
{
    _navigation.NavigateTo("/");
}
else
{
    <div class="container-fluid d-xl-flex justify-content-xl-center" style="color: rgb(194,194,194);margin-top: 0px;margin-left: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;height: 100%; min-height: 615px;">
        <div class="row">
            <div class="col-xl-3 offset-xl-0" style="min-height: auto;">
                <img class="rounded-circle mx-auto d-block" src="@User.Avatar" style="padding: 5%; width: 60%">
                <label class="form-label d-flex d-xl-flex justify-content-center justify-content-xl-center">@User.UserName</label>
                <label class="form-label d-flex d-xl-flex justify-content-center justify-content-xl-center">Баланс</label>
                <label class="form-label d-flex d-xl-flex justify-content-center justify-content-xl-center">@User.Balance</label>
                <div class="btn-group d-flex" role="group" style="padding: 5%;">
                    <button class="btn" type="button" style="margin-right: 12px;">
                        <NavLink style="text-decoration:none; color:black" href="addFunds">
                            Пополнить
                        </NavLink>
                    </button>
                    <button class="btn" type="button">
                        <NavLink style="text-decoration: none; color:black;" href="takeFunds">
                            Вывести
                        </NavLink>
                    </button>
                </div>
                <div class="btn-group-vertical d-flex" role="group" style="padding: 5%;">
                    <button class="btn" type="button">
                        <NavLink style="text-decoration:none; color:black;" href="/betHistory">
                            История ставок
                        </NavLink>
                    </button>
                    <button class="btn" type="button" style="margin-top: 8px;">
                        <NavLink style="text-decoration:none; color:black;" href="/userInfo">
                            Личные данные
                        </NavLink>
                    </button>
                    <button class="btn" type="button" style="margin-top: 8px; background-color: yellow; color: black;">Выйти из аккаунта</button>
                    <button class="btn" type="button" style="margin-top: 20%; background: var(--bs-red);">Удалить аккаунт</button>
                </div>
            </div>
            <div class="col">
                @Body
            </div>
        </div>
    </div>
}




