div.active-matches {
    text-align: center;
}

div.list-of-active-matches {
    background-color: #2a2f36;
    border-radius: 4px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 0px;
}

    div.list-of-active-matches .active-matches-title {
        position: relative;
        top: 20px;
        text-align: left;
        color: whitesmoke;
        font-weight: 500;
        margin-left: 30px;
    }

        div.list-of-active-matches .active-matches-title p {
        }

    div.list-of-active-matches ul {
        padding-left: 0px;
        margin: 15px;
        margin-top: 30px;
    }

        div.list-of-active-matches ul li {
            background-color: #2f353d;
            white-space: nowrap;
            margin: 8px;
            border-radius: 6px;
            display: inline-block;
            min-width: 350px;
        }

            div.list-of-active-matches ul li div {
            }

div.main-info {
    display: inline-grid;
    position: relative;
    z-index: 100;
    top: 14px;
}

    div.main-info div.matches-bet-info {
        text-align: center;
        margin: 0 auto;
    }

        div.main-info div.matches-bet-info p.tournament-title {
            color: #9da0a6;
            font-weight: 500;
        }

        div.main-info div.matches-bet-info p.type-bo {
            font-weight: 700;
            font-size: 11px;
            color: #7d7f85;
            position: relative;
            top: -10px;
        }

        div.main-info div.matches-bet-info p.time {
            font-weight: 700;
            font-size: 11px;
            color: #63666d;
            position: relative;
            top: 20px;
        }

    div.main-info div.vs {
        position: absolute;
        color: #2c3238;
        z-index: -1;
    }

        div.main-info div.vs p {
            font-size: 100px;
            font-weight: 600;
            margin-top: -10px;
        }

div.team-right,
div.team-left {
    width: 100px;
    height: auto;
    text-align: center;
    margin: 6px;
}

div.team-right {
    float: right;
}

div.team-left {
    float: left;
}

div.team {
    position: relative;
    transition: .2s;
    height: 164px;
    border-radius: 6px;
    padding: 5px 5px;
}

    div.team:hover {
        background-color: #4b9632;
        transition: .2s;
    }

div.team-win {
    position: relative;
    transition: .2s;
    height: 164px;
    border-radius: 6px;
    padding: 5px 5px;
    background-color: #4b9632;
    transition: .2s;
}
div.team-lose {
}

div.team div.logo-team {
    border-radius: 3px;
    background-color: rgba(42, 47, 54, 0.7);
    margin-top: 3px;
}

div.logo-team img {
        width: 90px;
        height: 90px;
        border-radius: 8px;
        transition: .2s;
        padding: 5px
    }

div.team:hover div.logo-team img {
    opacity: 0.2;
}

div.logo-team div.text-place-bet {
    position: absolute;
    visibility: hidden;
    transition: .2s;
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke;
    left: 25px;
    top: 38px;
}

div.team:hover div.logo-team div.text-place-bet {
    transition: .3s;
    visibility: visible;
}

p.title {
    position: relative;
    padding-top: 5px;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.koef {
    position: relative;
    text-align: center;
}

.koef p {
        position: relative;
        top: -8px;
        color: whitesmoke;
        font-size: 12px;
        font-weight: 600;
    }

    .koef hr {
        position: absolute;
        background-color: yellow;
        width: 38px;
        margin: 0 auto;
        top: 12px;
        left: 25px
    }
