@page "/loginUser"
@inject UserManager<User> _userManager
@inject SignInManager<User> _signInManager
@inject NavigationManager _manager
@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@inject Blazored.SessionStorage.ISessionStorageService _sessionStorage

@inject ISnackbar _snackBar

<MudDialog>
    <DialogContent>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5><p class="text-center">Email</p></h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input @bind-value="_mail" type="email" class="form-control" placeholder="Например@mail.ru">
                </div>
            </div>
            <div class="row"><div class="col"><br></div></div>
            <div class="row">
                <div class="col">
                    <h5><p class="text-center">Пароль</p></h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input @bind-value="_password" type="password" class="form-control" placeholder="qwerty123">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" bind-value ="rememberMe">
                        <label class="form-check-label" for="rememberMe">
                            Запомнить меня
                        </label>
                    </div>
                </div>
                <div class="col">
                    <p class="text-right">
                        <a href="">Забыли пароль?</a>
                        @_error
                    </p>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>


